body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  background-color: black;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  background-color: #f2f2f2;
  font-family: "Montserrat", sans-serif;
}

.wholebanner {
  width: 1000px;
  margin: 0 auto;
  display: flex;
}

.left-section {
  width: 49.5%;
  display: inline-block;
}

.left-section .title p {
  display: inline-block;
  margin: 0;
  font-size: 2.3em;
  font-weight: bold;
}
.title-description {
  text-align: center;
  padding-right: 20px;
}
.title-description p {
  color: #818181;
  font-weight: bold;
}
.section1 {
  padding-right: 15px;
}
.lableforBlock1 {
  background-color: #1cafc3;
  height: 30px;
  color: #2b2929;
  text-align: center;
  font-size: larger;
}
.portionSize {
  color: #2f586e;
  font-size: 2.1em;
  font-weight: bold;
}
.section1Text {
  display: inline-block;
  width: 50%;
  padding-bottom: 1em;
}
.section1desc {
  display: inline-block;
  color: #1cafc3;
  font-size: 12px;
  font-weight: bold;
}
.section1Image1 {
  float: right;
  top: 50%;
  bottom: 50%;
}
.section2 {
  padding-top: 15px;
  padding-right: 15px;
}
.section2Line1 {
  padding-top: 15px;
}
.textline {
  display: inline-block;
  text-align: right;
  line-height: 2.2em;
  width: 30%;
}
.textline p {
  margin: 0;
}
.textline .textline1 {
  color: #2f586e;
  font-size: 2em;
  font-weight: bold;
}
.textline .textline2 {
  color: rgb(237, 190, 50);
  font-size: 2.5em;
  font-weight: bold;
}
.textline .textline3 {
  color: #1cafc3;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.3;
}
.section2Image1 {
  display: inline-block;
  width: 50%;
  position: relative;
  bottom: 50px;
}
.sec2-line2 {
  margin-left: 35%;
  margin-top: 20px;
}

.line2-text {
  display: inline-block;
  font-weight: bold;
}

.text-1 {
  font-size: 22px;
  margin: 0;
  color: rgb(237, 190, 50);
}

.text-2 {
  font-size: 3em;
  margin: 0;
  color: rgb(49, 85, 107);
}

.line2-img {
  display: inline-block;
}
.right-section {
  width: 49.5%;
  display: inline-block;
}
.vertical {
  border-left: 3px dotted #1cafc3;
  height: 1150px;
  padding-right: 10px;
}
.lableforBlock2 {
  background-color: #1cafc3;
  height: 30px;
  color: #2b2929;
  text-align: center;
  display: flex;
  justify-content: center;
}
.section3line1,
.section3line2,
.section3line3,
.section3line4 {
  width: 80%;
  display: flex;
  font-weight: bold;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 14px;
}
.section3line2 {
  width: 90%;
}
.section3line3 {
  width: 95%;
}
.section3line4 {
  width: 97%;
  padding-bottom: 35px;
}
.section3text {
  display: inline-block;
  color: #1cafc3;
  font-weight: bold;
  font-size: 1.5em;
}
.section3number {
  color: rgb(237, 190, 50);
  font-weight: bold;
  font-size: 2em;
  padding: 0 20px;
}
.section3img {
  height: 80px;
  padding-bottom: 30px;
}

.lableforBlock4 {
  background-color: #1cafc3;
  height: 30px;
  color: #2b2929;
  text-align: center;
}
.section4line1 {
  display: flex;
  font-weight: bold;
  align-items: center;
}
.section4img {
  display: inline-block;
}

.section4text {
  display: inline-block;
  width: 75%;
}
.section4text p {
  margin: 0;
}
.t1 {
  color: rgb(49, 85, 107);
  font-size: 23px;
}
.t2 {
  display: inline-block;
  font-size: 28px;
  color: rgb(237, 190, 50);
}
.t3 {
  display: inline-block;
  color: rgb(237, 190, 50);
}
.t4 {
  color: #1cafc3;
}

